$primary_color: rgb(0, 255, 156);
$secondary_color: #000;

@font-face {
  font-family: Ubuntu-Condensed;
  src: url(../fonts/ubuntu/Ubuntu-C.ttf);
}

@font-face {
  font-family: Ubuntu-R;
  src: url(../fonts/ubuntu/Ubuntu-R.ttf);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu-R', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: rgb(0, 163, 93);
}

header {
  display: flex;
  flex: 3;
  background-color: $primary_color;
  justify-content: center;
  align-items: center;
  color: $secondary_color;
  font-size: 5em;
  flex-flow: column;
  text-transform: uppercase;

  @media (max-width: 320px) {
    flex: 2;
    font-size: 2em;
  }

  .logo {
    background-color: $secondary_color;
    display: flex;
    width: 10vh;
    height: 10vh;
    border-radius: 200px;
    justify-content: center;
    align-items: center;
    animation: myanim cubic-bezier(.9,0,0,.9) 1s;
  }

  div {
    font-family: 'Ubuntu-Condensed';
  }

  svg {
    height: 5vh;
    width: 5vh;
    path {
      fill: white;
    }
  }
}

@keyframes myanim {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.2,1.2) rotate(-10deg);
  }
  100% {
    transform: scale(1,1);
  }
}

main {
  display: flex;
  justify-content: center;
  flex: 2;
  align-items: center;
  padding: 0 10vw;

  div {
    align-items: center;
    max-width: 700px;
  }
}

footer {
  display: flex;
  flex: 1;
  background-color: $secondary_color;
  justify-content: center;
  align-items: center;

  div {
    color: white;
  }
}